@font-face {
  font-family: 'icomoon';
  src:  url('icomoon3f4a.eot?nzg15t');
  src:  url('icomoon3f4a.eot?nzg15t#iefix') format('embedded-opentype'),
    url('icomoon3f4a.ttf?nzg15t') format('truetype'),
    url('icomoon3f4a.woff?nzg15t') format('woff'),
    url('icomoon3f4a.svg?nzg15t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-chat-1:before {
  content: "\e902";
}
.icon-copy:before {
  content: "\e903";
}
.icon-dislike:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
}
.icon-download-1:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e908";
}
.icon-house:before {
  content: "\e909";
}
.icon-ic_alert:before {
  content: "\e90a";
}
.icon-ic_avatar:before {
  content: "\e90b";
}
.icon-ic_avatar-1:before {
  content: "\e90c";
}
.icon-ic_back:before {
  content: "\e90d";
}
.icon-ic_bell-1:before {
  content: "\e90e";
}
.icon-ic_cancel:before {
  content: "\e90f";
}
.icon-ic_chat-2:before {
  content: "\e910";
}
.icon-ic_check-1:before {
  content: "\e911";
}
.icon-ic_clock:before {
  content: "\e912";
}
.icon-ic_close:before {
  content: "\e913";
}
.icon-ic_credit-card-1:before {
  content: "\e914";
}
.icon-ic_cube-1:before {
  content: "\e915";
}
.icon-ic_down:before {
  content: "\e916";
}
.icon-ic_envelope:before {
  content: "\e917";
}
.icon-ic_filter:before {
  content: "\e918";
}
.icon-ic_garbage:before {
  content: "\e919";
}
.icon-ic_glasses:before {
  content: "\e91a";
}
.icon-ic_hand:before {
  content: "\e91b";
}
.icon-ic_headphones:before {
  content: "\e91c";
}
.icon-ic_heart:before {
  content: "\e91d";
}
.icon-ic_heart_fill:before {
  content: "\e91e";
}
.icon-ic_image:before {
  content: "\e91f";
}
.icon-ic_left-arrow:before {
  content: "\e920";
}
.icon-ic_like:before {
  content: "\e921";
}
.icon-ic_menu:before {
  content: "\e922";
}
.icon-ic_minus:before {
  content: "\e923";
}
.icon-ic_next-1:before {
  content: "\e924";
}
.icon-ic_padlock:before {
  content: "\e925";
}
.icon-ic_phone-call:before {
  content: "\e926";
}
.icon-ic_placeholder:before {
  content: "\e927";
}
.icon-ic_play:before {
  content: "\e928";
}
.icon-ic_plus:before {
  content: "\e929";
}
.icon-uniE92A:before {
  content: "\e92a";
}
.icon-uniE92B:before {
  content: "\e92b";
}
.icon-ic_radio_inactive:before {
  content: "\e92c";
}
.icon-ic_reload:before {
  content: "\e92d";
}
.icon-ic_right-arrow:before {
  content: "\e92e";
}
.icon-ic_rule-1:before {
  content: "\e92f";
}
.icon-ic_search:before {
  content: "\e930";
}
.icon-ic_shopping-bag:before {
  content: "\e931";
}
.icon-ic_shopping-cart:before {
  content: "\e932";
}
.icon-ic_speaker:before {
  content: "\e933";
}
.icon-ic_star:before {
  content: "\e934";
}
.icon-ic_star-fill:before {
  content: "\e935";
}
.icon-ic_tag:before {
  content: "\e936";
}
.icon-ic_upload-1:before {
  content: "\e937";
}
.icon-ic_wallet:before {
  content: "\e938";
}
.icon-ic_zoom:before {
  content: "\e939";
}
.icon-link:before {
  content: "\e93a";
}
.icon-logout:before {
  content: "\e93b";
}
.icon-monitor:before {
  content: "\e93c";
}
.icon-musical-note:before {
  content: "\e93d";
}
.icon-next:before {
  content: "\e93e";
}
.icon-paper-plane:before {
  content: "\e93f";
}
.icon-photo-camera:before {
  content: "\e940";
}
.icon-pie-chart:before {
  content: "\e941";
}
.icon-piggy-bank:before {
  content: "\e942";
}
.icon-printer:before {
  content: "\e943";
}
.icon-settings:before {
  content: "\e944";
}
.icon-settings-1:before {
  content: "\e945";
}
.icon-share:before {
  content: "\e946";
}
.icon-shuffle:before {
  content: "\e947";
}
.icon-upload:before {
  content: "\e948";
}
.icon-vector:before {
  content: "\e949";
}
